body {
	margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #0F0F0F;
    color: white;
    font-family: Arial;
}

#profil {
	text-align: center;
}

#reseaux {
	margin-top: 40px;
}

#reseaux img {
	margin: 10px;
	width:  50px;
    height: 50px;
}

#separator {
	width: 60%;
}

#h1-project {
	margin-top: 50px;
	text-align: center;
}

#contenu {
	padding-top: 20px;
}

.img-div-project {
	width:  300px;
    height: 200px;
    object-fit: scale-down;
    margin-left: auto;
    margin-right: auto;
}

#st-div, #sd-div {
	display: flex;
    text-align: center;
}

.dcontenu {
	margin-top: 40px;
	margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.border-div {
	border: 4px solid #272727;
	border-radius: 30px;
}

.git-div {
	background-color: #222222;
	width: 30%;
	margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.git {
	text-decoration: none;
	color: white;
}

.github-img {
	width: 20px;
    height: 20px;
    margin-right: 5px;
    object-fit: scale-down;
    vertical-align: sub;
}

#contenu div img.img-logo {
    max-width:100%;
	max-height:100%;
}

.icons {
	margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto;
}

.icons img {
	width:  30px;
    height: 30px;
    object-fit: scale-down;
    background-color: #222222;
    padding: 5px;
    border-radius: 10px;
}

#contenu div p {
	margin-left: auto;
    margin-right: auto;
	width: 90%;
}

@media screen and (max-width: 1050px) {
	body {
		width: 100%;
	}

	#separator {
		width: 60%;
	}

	#st-div, #sd-div {
		display: block;
	    text-align: center;
	}

	.dcontenu {
		width: 60%;
	}
}

@media screen and (max-width: 650px) {
	#separator {
		width: 80%;
	}

	.dcontenu {
		width: 80%;
	}
}

@media screen and (max-width: 400px) {
	.img-div-project {
		width:  200px;
    	height: 150px;
	}
}